<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>
		
        <property name="hibernate.connection.url">
            jdbc:sqlite:cercalezioni.db
        </property>
		
        <!-- SQL dialect -->
        <property name="dialect">
            com.enigmabridge.hibernate.dialect.SQLiteDialect
        </property>
		
        <!-- Show and print nice SQL on stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
		
        <!-- Create Database -->
        <property name="hibernate.hbm2ddl.auto">create</property> 
		
        <!-- List of XML mapping files -->
        <!-- mapping resource="Utente.hbm.xml" /-->
        <mapping class="com.molinari.cercalezione.domain.File"/>
        <mapping class="com.molinari.cercalezione.domain.Lezione"/>
        <mapping class="com.molinari.cercalezione.domain.Tag"/>
		
    </session-factory>
</hibernate-configuration>